html {
    /*font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high  */
    /*font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
    font-family: 'Quicksand', sans-serif;
    color: #0f0f0a;
    background-color: whitesmoke;
}

img{
    display: block;
    margin: 0 auto;
    width: 400px;
}

header {
    background-color: #3399ff;
    color:whitesmoke;
    width: 100%;
    padding: 30px;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 5px solid black;
}

h1, h2, h4, h5, h6, strong {
    /*color: #ccf2ff;*/
    color: #3399ff;
}

h3 { /* Used for Header only */
    color:whitesmoke;
}

h1 {
    margin: 0;
    padding: 20px 0;    
    font-size: 60px;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
}
  
p, li {
    /*font-size: 16px;    */
    line-height: 1.8;
    letter-spacing: 1px; 
}


